* {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

body,
html {
	background-color: black;
	width: 100%;
	height: 100%;
}

#brand {
	font-size: 2em;
	color: navy;
	margin-top: 3px;
}

#navbar {
	background-color: white;
	a {
		text-transform: uppercase;
		font-weight: bold;
	}
	button {
		text-transform: uppercase;
	}
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.navbar-default .navbar-nav>li>a:hover {
	color: navy;
}

@media screen and (min-device-width: 768px) {
	#navbar {
		background-color: transparent;
		border-bottom: none;
	}
	#brand {
		color: rgb(182, 182, 182);
		margin-top: 20px;
	}
	#brand:hover {
		color: white;
	}
	.navbar-default .navbar-nav>li>a {
		color: rgb(182, 182, 182);
		margin-top: 23px;
	}
	.navbar-default .navbar-nav>li>a:hover {
		color: white;
	}
}

header.masthead {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: auto;
	text-align: center;
	color: white;
	background-image: url("../images/header.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header.masthead .header-content {
	position: relative;
	width: 100%;
	height: 100%; // padding: 150px 15px 100px;
	padding-top: 100px;
	text-align: center;
}

@media screen and (min-device-height: 481px) {
	header.masthead .header-content {
		padding-top: 150px;
	}
}

@media screen and (min-device-height: 681px) {
	header.masthead .header-content {
		padding-top: 220px;
	}
}

header.masthead .header-content .header-content-inner h1 {
	font-size: 24px;
	font-weight: 700;
	width: 80%;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

header.masthead .header-content .header-content-inner hr {
	margin: 30px auto;
}

header.masthead .header-content .header-content-inner p {
	font-size: 12px;
	font-weight: 300;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
	color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
	header.masthead {
		height: 100%;
		min-height: 600px;
	}
	header.masthead .header-content {
		position: absolute;
		top: 50%;
		padding-top: 200px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	header.masthead .header-content .header-content-inner {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
	}
	header.masthead .header-content .header-content-inner h1 {
		font-size: 50px;
	}
	header.masthead .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
}

hr {
	max-width: 100px;
	border-width: 3px;
	border-color: navy;
}

.btn-primary {
	color: white;
	border-color: navy;
	background-color: navy;
}

.btn-primary.focus,
.btn-primary:focus {
	color: white;
	border-color: navy;
	background-color: navy;
}

.btn-primary:hover {
	color: white;
	border-color: #000070;
	background-color: #000070;
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
	color: white;
	border-color: #000070;
	background-color: #000070;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
	color: white;
	border-color: navy;
	background-color: navy;
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
	background-image: none;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	border-color: navy;
	background-color: navy;
}

.btn-primary .badge {
	color: #000070;
	background-color: white;
}

.btn {
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 300px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
	padding: 15px 30px;
}

.service-box {
	padding-bottom: 20px;
	span {
		font-size: 40px;
	}
	h3 {
		color: black;
		font-size: 20px;
	}
	p {
		color: rgb(99, 99, 99);
		font-size: 12px;
	}
}

#offer {
	background-color: white;
	min-height: 300px; // height: 50%;
	padding-bottom: 30px;
	hr {
		padding-bottom: 20px;
	}
}

span.glyphicon {
	color: navy;
}

h2.section-heading {
	color: black;
	padding-top: 30px;
	font-size: 26px;
}

@media (min-width: 768px) {
	.service-box {
		padding-bottom: 30px;
		span {
			font-size: 60px;
		}
		h3 {
			font-size: 24px;
		}
		p {
			font-size: 16px;
		}
	}
	h2.section-heading {
		font-size: 40px;
	}
	#offer {
		hr {
			padding-bottom: 30px;
		}
	}
}

@media screen and (min-device-width: 768px) {
	.navbar-fixed-top.scrolled {
		background-color: #fff !important;
		transition: background-color 200ms linear;
		#brand {
			margin-top: 5px;
			color: navy;
		}
		#brand:hover {
			color: grey;
		}
		.nav-link {
			margin-top: 8px;
			color: black;
		}
		.nav-link:hover {
			color: navy;
		}
	}
}

#tag-cloud {
	display: flex;
	text {
		font-size: 12px;
	}
}

@media screen and (min-device-width: 768px) {
	#tag-cloud {
		text {
			font-size: 20px;
		}
	}
}

#tech {
	background-image: url("../images/tech.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#tech div.col-lg-12 {
	h2 {
		color: white;
	}
}

#portfolio img {
	width: 100%;
	height: auto;
	border: 1px solid grey;
}

.single-project {
	margin-top: 20px;
}

#portfolio {
	background-color: white;
	div.container-fluid {
		padding-bottom: 30px;
	}
}

// ------- Images overlay styling here ------- //
.single-project {
	position: relative;
}

.single-project {
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: calc(100% - 30px);
	height: 0;
	transition: .5s ease;
}

.single-project:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}